.bodyContainer {
	display: flex;
	flex-direction: row;
	padding: 2rem;
	font-size: 10px;
	margin: 0 auto;
	max-width: 1200px;
}

.latestContainer {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	max-width: 70%;
	padding: 0rem 0.75rem 0.75rem 0;
}
.sectionPadding {
	padding-right: 0.5rem;
}
.slideContainer {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	max-width: 30%;
	padding: 0rem 0rem 0.75rem 0.5rem;
}

@media only screen and (max-width: 1000px) {
	.bodyContainer {
		flex-direction: column;
		padding: 0rem;
	}
	.latestContainer {
		max-width: 100%;
		padding: 0rem;
	}
	.slideContainer {
		max-width: 100%;
		padding: 0;
	}
}
