@import "../../../../../styles/_baseTheme"

.bullet
    font-size: $paragraphFontSize
    line-height: $paragraphLineHeight
    font-family: $secondaryFont
    font-weight: 400
    color: $contentFontColor

.code
    font-size: 1.25rem
    color: $contentFontColor

.headOne
    font-size: 3.75rem
    font-family: $font
    margin: 1rem 0rem 0rem 0rem
    line-height: 3.75rem

.headTwo
    font-size: 3.25rem
    line-height: 3.25rem
    margin: 0px
    padding: 0px

.headThree
    font-size: 2.75rem
    line-height: 2.75rem
    margin: 0px
    padding: 0px

.headFour
    margin: 0px
    padding: 0px
    font-size: 2.25rem
    line-height: 2.25rem

.headFive
    margin: 0px
    padding: 0px
    font-size: 1.75rem
    line-height: 1.75rem

.horizLine
    border-bottom: 1px solid #000
    display: block
    opacity: 0.2

.emoji
    font-size: 30

.link
    color: $contentFontColor

.listItem
    font-size: $listFormatSize
    margin: 1rem 0

.numList
    font-size: $paragraphFontSize
    line-height: $paragraphLineHeight
    font-family: $secondaryFont
    font-weight: 400
    color: $contentFontColor
    font-size: $listFormatSize

.paidAd
    width: 100%
    margin: 0 auto
    color: $contentFontColor
    text-align: center
    font-size: 2rem

.para,.paraLeft,.paraCenter,.paraRight,.paraJustify
    font-family: $secondaryFont
    font-weight: 400
    color: $contentFontColor
    font-size: $paragraphFontSize
    line-height: $paragraphLineHeight

.paraLeft
    align: left

.paraRight
    align: right

.paraCenter
    align: center

.paraJustify
    align: justify

@media only screen and (max-width: 670px) 
    .para, .paraLeft,.paraCenter,.paraRight,.paraJustify
        font-size: 1.3rem
        line-height: 2rem

@media only screen and (max-width: 450px) 
    .para, .paraLeft,.paraCenter,.paraRight,.paraJustify
        font-size: 1.2rem
        line-height: $lineHeight

    .headOne
        font-size: 3rem
        line-height: 3rem
        margin: 1rem 0rem 0rem 0rem
    .headTwo
        font-size: 2.6rem
        line-height: 2.6rem
    .headThree
        font-size: 2.3rem
        line-height: 2.3rem
    .headFour
        font-size: 2rem
        line-height: 2rem
    .headFive
        font-size: 1.5rem
        line-height: 1.5rem