@import "../../../../styles/_baseTheme"

.answerComment
    padding: 0
    margin: 0

.answerCommentHeader
    font-size: 1.6rem
    padding: 0
    margin: 0px 0px 10px 0px

.bookendWrapper
    height: 100%
    width: 100%
    margin: 0px 0px 10px 0px
    padding: 0

.editorAnswer
    font-size: 2.5rem
    text-align: justify
    font-family: $font
    margin: 0 auto
    padding-top: 0.5rem
    display: flex
    flex-direction: row

.editorBlock
    font-size: 2.25rem
    text-align: justify
    font-color: blue
    // padding: 2rem

.correct
    // width: 100%
    // padding-left: 25px
    display: flex
    flex-direction: row
    align-items: center
    height: 100%
    color: $quizCorrectOverlay

    &Group
        display: flex
        flex-direction: column
        text-align: center
        margin: 0 auto

    &Label
        position: relative
        height: 100%
        margin-left: 1rem

.incorrectLabel
    position: relative
    height: 100%
    color: #d20000

.correctImage
    width: 60%
    margin: 0 auto

.incorrectImage
    width: 40%
    margin: 0 auto

.incorrectWrapper
    display: flex
    flex-direction: row
    align-items: center

@media only screen and (max-width: 650px) 
    .answerComment
        font-size: 1.75rem
        margin: 1rem 0rem

    .answerCommentHeader
        font-size: 1.5rem
        line-height: 1.7rem
        padding: 0
        margin: 0

    .correctImage
        width: 40%
        margin: 0 auto

    .correctLabel
        font-size: 1.75rem

    .editorAnswer
        flex-direction: column

    .editorBlock
        padding: 1rem

    .incorrectImage
        width: 30%

    .incorrectLabel
        font-size: 1.75rem

@media only screen and (max-width: 450px) 
    .answerComment
        margin: 0.5rem 0

    .answerCommentHeader
        font-size: $fontSize
        line-height: 1.6rem
        padding: 0
        margin: 0

    .editorBlock
        padding: 0.5rem
